<%= simple_form_for(@portfolio_finance) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

    <% Share.all.each do |share| %>
        <span><%= share.title %></span>
        <input type="text" placeholder="колчисество" name="portfolio_finance[share_items][<%=share.id %>][quantity]"
               value="<%=ShareItem.where(:portfolio_finance_id => @portfolio_finance.id, :share_id => share.id).first.present? ?
                                 ShareItem.where(:portfolio_finance_id => @portfolio_finance.id, :share_id => share.id).first.quantity : 0 %>">
        <br>
    <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
